In [1]:
# Build a model that predicts whether or not is going to rain tomorrow using real-world weather data

### Import the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import torch
import os
from tqdm import tqdm
import seaborn as sns
from pylab import rcParams

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
from matplotlib import rc
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [5]:
from torch import nn, optim
import torch.nn.functional as F
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [6]:
sns.set(style='whitegrid', palette='muted', font_scale=1.2)
HAPPY_COLORS_PALETTE =\
["#01BEFE", "#FFDD00", "#FF7D00", "#FF006D", "#93D30C", "#8F00FF"]
sns.set_palette(sns.color_palette(HAPPY_COLORS_PALETTE))
rcParams['figure.figsize'] = 12, 8

In [7]:
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)
torch.manual_seed(RANDOM_SEED)

### Load the data

In [8]:
from google.colab import files
uploaded = files.upload()

Saving weatherAUS.csv to weatherAUS.csv

In [9]:
import io
df = pd.read_csv(io.BytesIO(uploaded['weatherAUS.csv']))

In [10]:
df.shape

(142193, 24)

In [11]:
df.head()

         Date Location  MinTemp  ...  RainToday  RISK_MM  RainTomorrow
0  2008-12-01   Albury     13.4  ...         No      0.0            No
1  2008-12-02   Albury      7.4  ...         No      0.0            No
2  2008-12-03   Albury     12.9  ...         No      0.0            No
3  2008-12-04   Albury      9.2  ...         No      1.0            No
4  2008-12-05   Albury     17.5  ...         No      0.2            No

[5 rows x 24 columns]

In [12]:
cols = ['Rainfall', 'Humidity3pm', 'Pressure9am', 'RainToday', 'RainTomorrow']

In [13]:
df = df[cols]

In [14]:
df.head()

   Rainfall  Humidity3pm  Pressure9am RainToday RainTomorrow
0       0.6         22.0       1007.7        No           No
1       0.0         25.0       1010.6        No           No
2       0.0         30.0       1007.6        No           No
3       0.0         16.0       1017.6        No           No
4       1.0         33.0       1010.8        No           No

In [15]:
# We’ll convert yes and no to 1 and 0, respectively:
df['RainToday'].replace({'No': 0, 'Yes': 1}, inplace = True)
df['RainTomorrow'].replace({'No': 0, 'Yes': 1}, inplace = True)

In [16]:
# Let’s drop the rows with missing values
df = df.dropna(how='any')

In [17]:
df.head()

   Rainfall  Humidity3pm  Pressure9am  RainToday  RainTomorrow
0       0.6         22.0       1007.7        0.0             0
1       0.0         25.0       1010.6        0.0             0
2       0.0         30.0       1007.6        0.0             0
3       0.0         16.0       1017.6        0.0             0
4       1.0         33.0       1010.8        0.0             0

In [18]:
df.RainTomorrow.value_counts()

0    97103
1    27586
Name: RainTomorrow, dtype: int64

### Check for CUDA support

In [19]:
# Set up GPU in Colab using Runtime > Change Runtime Type > Hardware Accelerator > GPU
print(torch.cuda.device_count())

1

In [20]:
print(torch.cuda.get_device_name(0))

Tesla K80

### Prepare Data

In [21]:
X = df[['Rainfall', 'Humidity3pm', 'RainToday', 'Pressure9am']]
y = df[['RainTomorrow']]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=RANDOM_SEED)

In [23]:
# Convert all the data in Tensors
X_train = torch.from_numpy(X_train.to_numpy()).float()
y_train = torch.squeeze(torch.from_numpy(y_train.to_numpy()).float())
X_test = torch.from_numpy(X_test.to_numpy()).float()
y_test = torch.squeeze(torch.from_numpy(y_test.to_numpy()).float())

In [24]:
X_train

tensor([[0.0000e+00, 4.0000e+01, 0.0000e+00, 1.0082e+03],
        [1.6000e+00, 6.1000e+01, 1.0000e+00, 1.0137e+03],
        [0.0000e+00, 6.7000e+01, 0.0000e+00, 1.0160e+03],
        ...,
        [0.0000e+00, 7.2000e+01, 0.0000e+00, 1.0254e+03],
        [8.0000e+00, 5.9000e+01, 1.0000e+00, 1.0173e+03],
        [9.8000e+00, 7.5000e+01, 1.0000e+00, 1.0094e+03]])

In [25]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

torch.Size([99751, 4]) torch.Size([99751])
torch.Size([24938, 4]) torch.Size([24938])

### Building a Neural Network

In [26]:
# One easy way to build the NN with PyTorch is to create a class that inherits from torch.nn.Module
class Net(nn.Module):
  def __init__(self, n_features):
    super(Net, self).__init__()
    self.fc1 = nn.Linear(n_features, 5)
    self.fc2 = nn.Linear(5, 3)
    self.fc3 = nn.Linear(3, 1)
  def forward(self, x):
    x = F.relu(self.fc1(x))
    x = F.relu(self.fc2(x))
    return torch.sigmoid(self.fc3(x))

In [27]:
net = Net(X_train.shape[1])

In [28]:
criterion = nn.BCELoss() # # The BCELoss is a loss function that measures the difference between two binary vectors. In our case, the predictions of our model and the real values

In [30]:
optimizer = optim.Adam(net.parameters(), lr=0.001) #Naturally, the optimizer requires the parameters. The second argument lr is learning rate. It is a tradeoff between how good parameters you’re going to find and how fast you’ll get there

### Doing it on the GPU

In [31]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu") # We start by checking whether or not a CUDA device is available

In [34]:
# Then, we transfer all training and test data to that device
X_train = X_train.to(device)
y_train = y_train.to(device)
X_test = X_test.to(device)
y_test = y_test.to(device)

In [35]:
# Finally, we move our model and loss function
net = net.to(device)
criterion = criterion.to(device)

In [36]:
# Having a loss function is great, but tracking the accuracy of our model is something easier to understand. We convert every value below 0.5 to 0. Otherwise, we set it to 1. Finally, we calculate the percentage of correct values
def calculate_accuracy(y_true, y_pred):
  predicted = y_pred.ge(.5).view(-1)
  return (y_true == predicted).sum().float() / len(y_true)

### Model Training

In [37]:
def round_tensor(t, decimal_places=3):
  return round(t.item(), decimal_places)
for epoch in range(1000):
    y_pred = net(X_train)
    y_pred = torch.squeeze(y_pred)
    train_loss = criterion(y_pred, y_train)
    if epoch % 100 == 0:
      train_acc = calculate_accuracy(y_train, y_pred)
      y_test_pred = net(X_test)
      y_test_pred = torch.squeeze(y_test_pred)
      test_loss = criterion(y_test_pred, y_test)
      test_acc = calculate_accuracy(y_test, y_test_pred)
      print(
f'''epoch {epoch}
Train set - loss: {round_tensor(train_loss)}, accuracy: {round_tensor(train_acc)}
Test  set - loss: {round_tensor(test_loss)}, accuracy: {round_tensor(test_acc)}
''')
    optimizer.zero_grad()
    train_loss.backward()
    optimizer.step()

epoch 0
Train set - loss: 2.513, accuracy: 0.779
Test  set - loss: 2.517, accuracy: 0.778

epoch 100
Train set - loss: 0.457, accuracy: 0.792
Test  set - loss: 0.458, accuracy: 0.793

epoch 200
Train set - loss: 0.435, accuracy: 0.801
Test  set - loss: 0.436, accuracy: 0.8

epoch 300
Train set - loss: 0.421, accuracy: 0.814
Test  set - loss: 0.421, accuracy: 0.815

epoch 400
Train set - loss: 0.412, accuracy: 0.826
Test  set - loss: 0.413, accuracy: 0.827

epoch 500
Train set - loss: 0.408, accuracy: 0.831
Test  set - loss: 0.408, accuracy: 0.832

epoch 600
Train set - loss: 0.406, accuracy: 0.833
Test  set - loss: 0.406, accuracy: 0.835

epoch 700
Train set - loss: 0.405, accuracy: 0.834
Test  set - loss: 0.405, accuracy: 0.835

epoch 800
Train set - loss: 0.404, accuracy: 0.834
Test  set - loss: 0.404, accuracy: 0.835

epoch 900
Train set - loss: 0.404, accuracy: 0.834
Test  set - loss: 0.404, accuracy: 0.836

In [38]:
# Save the model
MODEL_PATH = 'model.pth'
torch.save(net, MODEL_PATH)

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:402: UserWarning: Couldn't retrieve source code for container of type Net. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [39]:
# Restoring the model
net = torch.load(MODEL_PATH)

### Evaluation of model

In [40]:
classes = ['No rain', 'Raining']
y_pred = net(X_test)
y_pred = y_pred.ge(.5).view(-1).cpu()
y_test = y_test.cpu()
print(classification_report(y_test, y_pred, target_names=classes))

              precision    recall  f1-score   support

     No rain       0.85      0.96      0.90     19413
     Raining       0.74      0.40      0.52      5525

    accuracy                           0.84     24938
   macro avg       0.80      0.68      0.71     24938
weighted avg       0.83      0.84      0.82     24938

In [41]:
# Predicting rain or no-rain
def will_it_rain(rainfall, humidity, rain_today, pressure):
  t = torch.as_tensor([rainfall, humidity, rain_today, pressure]) \
      .float() \
      .to(device)
  output = net(t)
  return output.ge(0.5).item()

In [42]:
will_it_rain(rainfall=10, humidity=10, rain_today=True, pressure=2)

True

In [43]:
will_it_rain(rainfall=0, humidity=1, rain_today=False, pressure=100)

False